@font-face {
  font-family: 'Gotham-Bold';
  src: url("../assets/fonts/Gotham-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../assets/fonts/Gotham-Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gotham-Light';
  src: url("../assets/fonts/Gotham-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Humanitarian-Icons-v02';
  src: url("../assets/fonts/Humanitarian-Icons-v02.eot?d5h7ar");
  src: url("../assets/fonts/Humanitarian-Icons-v02.eot?d5h7ar#iefix") format("embedded-opentype"), url("../assets/fonts/Humanitarian-Icons-v02.ttf?d5h7ar") format("truetype"), url("../assets/fonts/Humanitarian-Icons-v02.woff?d5h7ar") format("woff"), url("../assets/fonts/Humanitarian-Icons-v02.svg?d5h7ar#Humanitarian-Icons-v02") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="humanitarianicons-"], [class*=" humanitarianicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Humanitarian-Icons-v02' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.humanitarianicons-Covid-19:before {
  content: "\ea4c"; }

.humanitarianicons-Social-gh:before {
  content: "\ea48"; }

.humanitarianicons-Social-gh-hover:before {
  content: "\ea49"; }

.humanitarianicons-Social-mail:before {
  content: "\ea4a"; }

.humanitarianicons-Social-mail-hover:before {
  content: "\ea4b"; }

.humanitarianicons-Double-arrow-down:before {
  content: "\ea3a"; }

.humanitarianicons-Double-arrow-left:before {
  content: "\ea3b"; }

.humanitarianicons-Double-arrow-right:before {
  content: "\ea3c"; }

.humanitarianicons-Double-arrow-up:before {
  content: "\ea3d"; }

.humanitarianicons-Social-fb-hover:before {
  content: "\ea3e"; }

.humanitarianicons-Social-fb:before {
  content: "\ea3f"; }

.humanitarianicons-Social-ig-hover:before {
  content: "\ea40"; }

.humanitarianicons-Social-ig:before {
  content: "\ea41"; }

.humanitarianicons-Social-li-hover:before {
  content: "\ea42"; }

.humanitarianicons-Social-li:before {
  content: "\ea43"; }

.humanitarianicons-Social-tw-hover:before {
  content: "\ea44"; }

.humanitarianicons-Social-tw:before {
  content: "\ea45"; }

.humanitarianicons-Social-yt-hover:before {
  content: "\ea46"; }

.humanitarianicons-Social-yt:before {
  content: "\ea47"; }

.humanitarianicons-Abduction-kidnapping:before {
  content: "\e900"; }

.humanitarianicons-About:before {
  content: "\e901"; }

.humanitarianicons-Add:before {
  content: "\e902"; }

.humanitarianicons-Add-document:before {
  content: "\e903"; }

.humanitarianicons-Advocacy:before {
  content: "\e904"; }

.humanitarianicons-Affected-population:before {
  content: "\e905"; }

.humanitarianicons-Agriculture:before {
  content: "\e906"; }

.humanitarianicons-Airport:before {
  content: "\e907"; }

.humanitarianicons-Airport-affected:before {
  content: "\e908"; }

.humanitarianicons-Airport-destroyed:before {
  content: "\e909"; }

.humanitarianicons-Airport-military:before {
  content: "\e90a"; }

.humanitarianicons-Airport-not-affected:before {
  content: "\e90b"; }

.humanitarianicons-Alert:before {
  content: "\e90c"; }

.humanitarianicons-Analysis:before {
  content: "\e90d"; }

.humanitarianicons-Arrest-detention:before {
  content: "\e90e"; }

.humanitarianicons-Assault:before {
  content: "\e90f"; }

.humanitarianicons-Assembly-point:before {
  content: "\e910"; }

.humanitarianicons-Assessment:before {
  content: "\e911"; }

.humanitarianicons-Attack:before {
  content: "\e912"; }

.humanitarianicons-Blanket:before {
  content: "\e913"; }

.humanitarianicons-Blog:before {
  content: "\e914"; }

.humanitarianicons-Boat:before {
  content: "\e915"; }

.humanitarianicons-Bookmark:before {
  content: "\e916"; }

.humanitarianicons-Border-crossing:before {
  content: "\e917"; }

.humanitarianicons-Borehole:before {
  content: "\e918"; }

.humanitarianicons-Bottled-water:before {
  content: "\e919"; }

.humanitarianicons-Bridge:before {
  content: "\e91a"; }

.humanitarianicons-Bridge-affected:before {
  content: "\e91b"; }

.humanitarianicons-Bridge-destroyed:before {
  content: "\e91c"; }

.humanitarianicons-Bridge-not-affected:before {
  content: "\e91d"; }

.humanitarianicons-Bucket:before {
  content: "\e91e"; }

.humanitarianicons-Buddhist-temple:before {
  content: "\e91f"; }

.humanitarianicons-Building:before {
  content: "\e920"; }

.humanitarianicons-Building-facility-affected:before {
  content: "\e921"; }

.humanitarianicons-Building-facility-destroyed:before {
  content: "\e922"; }

.humanitarianicons-Building-facility-not-affected:before {
  content: "\e923"; }

.humanitarianicons-Bus:before {
  content: "\e924"; }

.humanitarianicons-Calendar:before {
  content: "\e925"; }

.humanitarianicons-Camp-Coordination-and-Camp-Management:before {
  content: "\e926"; }

.humanitarianicons-Car:before {
  content: "\e927"; }

.humanitarianicons-Carjacking:before {
  content: "\e928"; }

.humanitarianicons-Cash-transfer:before {
  content: "\e929"; }

.humanitarianicons-Cell-tower:before {
  content: "\e92a"; }

.humanitarianicons-Chart:before {
  content: "\e92b"; }

.humanitarianicons-Chat:before {
  content: "\e92c"; }

.humanitarianicons-Checkpoint:before {
  content: "\e92d"; }

.humanitarianicons-Child-care-child-friendly:before {
  content: "\e92e"; }

.humanitarianicons-Child-combatant:before {
  content: "\e92f"; }

.humanitarianicons-Child-protection:before {
  content: "\e930"; }

.humanitarianicons-Children:before {
  content: "\e931"; }

.humanitarianicons-Church:before {
  content: "\e932"; }

.humanitarianicons-Civil-military-coordination:before {
  content: "\e933"; }

.humanitarianicons-Clinic:before {
  content: "\e934"; }

.humanitarianicons-Clothing:before {
  content: "\e935"; }

.humanitarianicons-Cold-wave:before {
  content: "\e936"; }

.humanitarianicons-Communal-latrine:before {
  content: "\e937"; }

.humanitarianicons-Community-building:before {
  content: "\e938"; }

.humanitarianicons-Community-engagement:before {
  content: "\e939"; }

.humanitarianicons-Computer:before {
  content: "\e93a"; }

.humanitarianicons-Conflict:before {
  content: "\e93b"; }

.humanitarianicons-Coordinated-assessement:before {
  content: "\e93c"; }

.humanitarianicons-Coordination:before {
  content: "\e93d"; }

.humanitarianicons-Copy:before {
  content: "\e93e"; }

.humanitarianicons-Cyclone:before {
  content: "\e93f"; }

.humanitarianicons-Damaged-Affected:before {
  content: "\e940"; }

.humanitarianicons-Dangerous-area:before {
  content: "\e941"; }

.humanitarianicons-Data:before {
  content: "\e942"; }

.humanitarianicons-Dead:before {
  content: "\e943"; }

.humanitarianicons-Debris-management:before {
  content: "\e944"; }

.humanitarianicons-Deployment:before {
  content: "\e945"; }

.humanitarianicons-Destroyed:before {
  content: "\e946"; }

.humanitarianicons-Detergent:before {
  content: "\e947"; }

.humanitarianicons-Diplomatic-mission:before {
  content: "\e948"; }

.humanitarianicons-Distribution-site:before {
  content: "\e949"; }

.humanitarianicons-Document:before {
  content: "\e94a"; }

.humanitarianicons-Down:before {
  content: "\e94b"; }

.humanitarianicons-Download:before {
  content: "\e94c"; }

.humanitarianicons-Drought:before {
  content: "\e94d"; }

.humanitarianicons-Drowned:before {
  content: "\e94e"; }

.humanitarianicons-E-mail:before {
  content: "\e94f"; }

.humanitarianicons-Early-Recovery:before {
  content: "\e950"; }

.humanitarianicons-Earthmound:before {
  content: "\e951"; }

.humanitarianicons-Earthquake:before {
  content: "\e952"; }

.humanitarianicons-Education:before {
  content: "\e953"; }

.humanitarianicons-Elderly:before {
  content: "\e954"; }

.humanitarianicons-Emergency-Telecommunications:before {
  content: "\e955"; }

.humanitarianicons-Environment:before {
  content: "\e956"; }

.humanitarianicons-Epidemic:before {
  content: "\e957"; }

.humanitarianicons-Exit-Cancel:before {
  content: "\e958"; }

.humanitarianicons-Famine:before {
  content: "\e959"; }

.humanitarianicons-Favourite:before {
  content: "\e95a"; }

.humanitarianicons-Fax:before {
  content: "\e95b"; }

.humanitarianicons-Ferry:before {
  content: "\e95c"; }

.humanitarianicons-Film:before {
  content: "\e95d"; }

.humanitarianicons-Filter:before {
  content: "\e95e"; }

.humanitarianicons-Financing:before {
  content: "\e95f"; }

.humanitarianicons-Fire:before {
  content: "\e960"; }

.humanitarianicons-Fishery:before {
  content: "\e961"; }

.humanitarianicons-Flash-flood:before {
  content: "\e962"; }

.humanitarianicons-Flood:before {
  content: "\e963"; }

.humanitarianicons-Flour:before {
  content: "\e964"; }

.humanitarianicons-Folder:before {
  content: "\e965"; }

.humanitarianicons-Food:before {
  content: "\e966"; }

.humanitarianicons-Food-Security:before {
  content: "\e967"; }

.humanitarianicons-Food-warehouse:before {
  content: "\e968"; }

.humanitarianicons-Forced-entry:before {
  content: "\e969"; }

.humanitarianicons-Forced-recruitment:before {
  content: "\e96a"; }

.humanitarianicons-Fund:before {
  content: "\e96b"; }

.humanitarianicons-Gap-analysis:before {
  content: "\e96c"; }

.humanitarianicons-Gas-station:before {
  content: "\e96d"; }

.humanitarianicons-Go:before {
  content: "\e96e"; }

.humanitarianicons-Government-office:before {
  content: "\e96f"; }

.humanitarianicons-Group:before {
  content: "\e970"; }

.humanitarianicons-Harassment-intimidation:before {
  content: "\e971"; }

.humanitarianicons-Health:before {
  content: "\e972"; }

.humanitarianicons-Health-facility:before {
  content: "\e973"; }

.humanitarianicons-Health-facility-affected:before {
  content: "\e974"; }

.humanitarianicons-Health-facility-destroyed:before {
  content: "\e975"; }

.humanitarianicons-Health-facility-not-affected:before {
  content: "\e976"; }

.humanitarianicons-Health-post:before {
  content: "\e977"; }

.humanitarianicons-Heatwave:before {
  content: "\e978"; }

.humanitarianicons-Heavy-rain:before {
  content: "\e979"; }

.humanitarianicons-Helicopter:before {
  content: "\e97a"; }

.humanitarianicons-Helipad:before {
  content: "\e97b"; }

.humanitarianicons-Help:before {
  content: "\e97c"; }

.humanitarianicons-Hidden:before {
  content: "\e97d"; }

.humanitarianicons-Hindu-temple:before {
  content: "\e97e"; }

.humanitarianicons-Hospital:before {
  content: "\e97f"; }

.humanitarianicons-Hotel:before {
  content: "\e980"; }

.humanitarianicons-House:before {
  content: "\e981"; }

.humanitarianicons-House-affected:before {
  content: "\e982"; }

.humanitarianicons-House-burned:before {
  content: "\e983"; }

.humanitarianicons-House-destroyed:before {
  content: "\e984"; }

.humanitarianicons-House-not-affected:before {
  content: "\e985"; }

.humanitarianicons-Humanitarian-access:before {
  content: "\e986"; }

.humanitarianicons-Humanitarian-programme-cycle:before {
  content: "\e987"; }

.humanitarianicons-IDP-refugee-camp:before {
  content: "\e988"; }

.humanitarianicons-Infant:before {
  content: "\e989"; }

.humanitarianicons-Infant-formula:before {
  content: "\e98a"; }

.humanitarianicons-Information-management:before {
  content: "\e98b"; }

.humanitarianicons-Information-technology:before {
  content: "\e98c"; }

.humanitarianicons-Infrastructure:before {
  content: "\e98d"; }

.humanitarianicons-Injured:before {
  content: "\e98e"; }

.humanitarianicons-Innovation:before {
  content: "\e98f"; }

.humanitarianicons-Insect-infestation:before {
  content: "\e990"; }

.humanitarianicons-Internally-displaced:before {
  content: "\e991"; }

.humanitarianicons-Internet:before {
  content: "\e992"; }

.humanitarianicons-Kitchen-set:before {
  content: "\e993"; }

.humanitarianicons-Landslide-mudslide:before {
  content: "\e994"; }

.humanitarianicons-Laptop:before {
  content: "\e995"; }

.humanitarianicons-Latrine-cabin:before {
  content: "\e996"; }

.humanitarianicons-Leadership:before {
  content: "\e997"; }

.humanitarianicons-Learning:before {
  content: "\e998"; }

.humanitarianicons-Link:before {
  content: "\e999"; }

.humanitarianicons-Livelihood:before {
  content: "\e99a"; }

.humanitarianicons-Livestock:before {
  content: "\e99b"; }

.humanitarianicons-Location:before {
  content: "\e99c"; }

.humanitarianicons-Locust-infestation:before {
  content: "\e99d"; }

.humanitarianicons-Logistics:before {
  content: "\e99e"; }

.humanitarianicons-Map:before {
  content: "\e99f"; }

.humanitarianicons-Mattress:before {
  content: "\e9a0"; }

.humanitarianicons-Medical-supply:before {
  content: "\e9a1"; }

.humanitarianicons-Medicine:before {
  content: "\e9a2"; }

.humanitarianicons-Meeting:before {
  content: "\e9a3"; }

.humanitarianicons-Menu:before {
  content: "\e9a4"; }

.humanitarianicons-Military-gate:before {
  content: "\e9a5"; }

.humanitarianicons-Mine:before {
  content: "\e9a6"; }

.humanitarianicons-Missing:before {
  content: "\e9a7"; }

.humanitarianicons-Mobile-clinic:before {
  content: "\e9a8"; }

.humanitarianicons-Mobile-phone:before {
  content: "\e9a9"; }

.humanitarianicons-Monitor:before {
  content: "\e9aa"; }

.humanitarianicons-Monitoring:before {
  content: "\e9ab"; }

.humanitarianicons-More-options:before {
  content: "\e9ac"; }

.humanitarianicons-Mosque:before {
  content: "\e9ad"; }

.humanitarianicons-Mosquito-net:before {
  content: "\e9ae"; }

.humanitarianicons-Multi-cluster-sector:before {
  content: "\e9af"; }

.humanitarianicons-Murder:before {
  content: "\e9b0"; }

.humanitarianicons-NGO-office:before {
  content: "\e9b1"; }

.humanitarianicons-National-army:before {
  content: "\e9b2"; }

.humanitarianicons-Needs-assessment:before {
  content: "\e9b3"; }

.humanitarianicons-Next-item:before {
  content: "\e9b4"; }

.humanitarianicons-Non-food-items:before {
  content: "\e9b5"; }

.humanitarianicons-Non-food-items-2:before {
  content: "\e9b6"; }

.humanitarianicons-Not-affected:before {
  content: "\e9b7"; }

.humanitarianicons-Notification:before {
  content: "\e9b8"; }

.humanitarianicons-Nutrition:before {
  content: "\e9b9"; }

.humanitarianicons-Observation-tower:before {
  content: "\e9ba"; }

.humanitarianicons-Oil:before {
  content: "\e9bb"; }

.humanitarianicons-Out-of-platform:before {
  content: "\e9bc"; }

.humanitarianicons-Partnership:before {
  content: "\e9bd"; }

.humanitarianicons-Pause:before {
  content: "\e9be"; }

.humanitarianicons-Peacekeeping-force:before {
  content: "\e9bf"; }

.humanitarianicons-People-in-need:before {
  content: "\e9c0"; }

.humanitarianicons-People-targeted:before {
  content: "\e9c1"; }

.humanitarianicons-People-with-physical-impairments:before {
  content: "\e9c2"; }

.humanitarianicons-Permanent-camp:before {
  content: "\e9c3"; }

.humanitarianicons-Person-1:before {
  content: "\e9c4"; }

.humanitarianicons-Person-2:before {
  content: "\e9c5"; }

.humanitarianicons-Photo:before {
  content: "\e9c6"; }

.humanitarianicons-Physical-closure:before {
  content: "\e9c7"; }

.humanitarianicons-Plastic-sheeting:before {
  content: "\e9c8"; }

.humanitarianicons-Police-station:before {
  content: "\e9c9"; }

.humanitarianicons-Policy:before {
  content: "\e9ca"; }

.humanitarianicons-Population-growth:before {
  content: "\e9cb"; }

.humanitarianicons-Population-return:before {
  content: "\e9cc"; }

.humanitarianicons-Port:before {
  content: "\e9cd"; }

.humanitarianicons-Port-affected:before {
  content: "\e9ce"; }

.humanitarianicons-Port-destroyed:before {
  content: "\e9cf"; }

.humanitarianicons-Port-not-affected:before {
  content: "\e9d0"; }

.humanitarianicons-Potable-water:before {
  content: "\e9d1"; }

.humanitarianicons-Potable-water-source:before {
  content: "\e9d2"; }

.humanitarianicons-Power-electricity:before {
  content: "\e9d3"; }

.humanitarianicons-Power-electricity-affected:before {
  content: "\e9d4"; }

.humanitarianicons-Power-electricity-not-affected:before {
  content: "\e9d5"; }

.humanitarianicons-Power-outage:before {
  content: "\e9d6"; }

.humanitarianicons-Pregnant:before {
  content: "\e9d7"; }

.humanitarianicons-Preparedness:before {
  content: "\e9d8"; }

.humanitarianicons-Previous-item:before {
  content: "\e9d9"; }

.humanitarianicons-Print:before {
  content: "\e9da"; }

.humanitarianicons-Protection:before {
  content: "\e9db"; }

.humanitarianicons-Public-information:before {
  content: "\e9dc"; }

.humanitarianicons-Radio:before {
  content: "\e9dd"; }

.humanitarianicons-Rebel:before {
  content: "\e9de"; }

.humanitarianicons-Reconstruction:before {
  content: "\e9df"; }

.humanitarianicons-Refugee:before {
  content: "\e9e0"; }

.humanitarianicons-Registration:before {
  content: "\e9e1"; }

.humanitarianicons-Relief-goods:before {
  content: "\e9e2"; }

.humanitarianicons-Remove:before {
  content: "\e9e3"; }

.humanitarianicons-Remove-document:before {
  content: "\e9e4"; }

.humanitarianicons-Report:before {
  content: "\e9e5"; }

.humanitarianicons-Reporting:before {
  content: "\e9e6"; }

.humanitarianicons-Response:before {
  content: "\e9e7"; }

.humanitarianicons-Return:before {
  content: "\e9e8"; }

.humanitarianicons-Rice:before {
  content: "\e9e9"; }

.humanitarianicons-Road:before {
  content: "\e9ea"; }

.humanitarianicons-Road-affected:before {
  content: "\e9eb"; }

.humanitarianicons-Road-barrier:before {
  content: "\e9ec"; }

.humanitarianicons-Road-destroyed:before {
  content: "\e9ed"; }

.humanitarianicons-Road-not-affected:before {
  content: "\e9ee"; }

.humanitarianicons-Roadblock:before {
  content: "\e9ef"; }

.humanitarianicons-Robbery:before {
  content: "\e9f0"; }

.humanitarianicons-Rule-of-law-and-justice:before {
  content: "\e9f1"; }

.humanitarianicons-Rural:before {
  content: "\e9f2"; }

.humanitarianicons-Rural-exodus:before {
  content: "\e9f3"; }

.humanitarianicons-Safety-and-security:before {
  content: "\e9f4"; }

.humanitarianicons-Salt:before {
  content: "\e9f5"; }

.humanitarianicons-Sanitation:before {
  content: "\e9f6"; }

.humanitarianicons-Satellite-dish:before {
  content: "\e9f7"; }

.humanitarianicons-Save:before {
  content: "\e9f8"; }

.humanitarianicons-Scale-down-operation:before {
  content: "\e9f9"; }

.humanitarianicons-Scale-up-operation:before {
  content: "\e9fa"; }

.humanitarianicons-School:before {
  content: "\e9fb"; }

.humanitarianicons-School-affected:before {
  content: "\e9fc"; }

.humanitarianicons-School-destroyed:before {
  content: "\e9fd"; }

.humanitarianicons-School-not-affected:before {
  content: "\e9fe"; }

.humanitarianicons-Search:before {
  content: "\e9ff"; }

.humanitarianicons-See:before {
  content: "\ea00"; }

.humanitarianicons-Selected:before {
  content: "\ea01"; }

.humanitarianicons-Services-and-tools:before {
  content: "\ea02"; }

.humanitarianicons-Settings:before {
  content: "\ea03"; }

.humanitarianicons-Sexual-violence:before {
  content: "\ea04"; }

.humanitarianicons-Share:before {
  content: "\ea05"; }

.humanitarianicons-Shelter:before {
  content: "\ea06"; }

.humanitarianicons-Ship:before {
  content: "\ea07"; }

.humanitarianicons-Shower:before {
  content: "\ea08"; }

.humanitarianicons-Smartphone:before {
  content: "\ea09"; }

.humanitarianicons-Snow-avalanche:before {
  content: "\ea0a"; }

.humanitarianicons-Snowfall:before {
  content: "\ea0b"; }

.humanitarianicons-Soap:before {
  content: "\ea0c"; }

.humanitarianicons-Solid-waste:before {
  content: "\ea0d"; }

.humanitarianicons-Spontaneous-site:before {
  content: "\ea0e"; }

.humanitarianicons-Spring-water:before {
  content: "\ea0f"; }

.humanitarianicons-Staff-management:before {
  content: "\ea10"; }

.humanitarianicons-Stop:before {
  content: "\ea11"; }

.humanitarianicons-Storm:before {
  content: "\ea12"; }

.humanitarianicons-Storm-surge:before {
  content: "\ea13"; }

.humanitarianicons-Stove:before {
  content: "\ea14"; }

.humanitarianicons-Submersible-pump:before {
  content: "\ea15"; }

.humanitarianicons-Sugar:before {
  content: "\ea16"; }

.humanitarianicons-Table:before {
  content: "\ea17"; }

.humanitarianicons-Tarpaulin:before {
  content: "\ea18"; }

.humanitarianicons-Technological-disaster:before {
  content: "\ea19"; }

.humanitarianicons-Temporary-camp:before {
  content: "\ea1a"; }

.humanitarianicons-Tent:before {
  content: "\ea1b"; }

.humanitarianicons-Toilet:before {
  content: "\ea1c"; }

.humanitarianicons-Top-ranking:before {
  content: "\ea1d"; }

.humanitarianicons-Tornado:before {
  content: "\ea1e"; }

.humanitarianicons-Trade-and-market:before {
  content: "\ea1f"; }

.humanitarianicons-Train:before {
  content: "\ea20"; }

.humanitarianicons-Training:before {
  content: "\ea21"; }

.humanitarianicons-Transition-site:before {
  content: "\ea22"; }

.humanitarianicons-Trending:before {
  content: "\ea23"; }

.humanitarianicons-Truck:before {
  content: "\ea24"; }

.humanitarianicons-Tsunami:before {
  content: "\ea25"; }

.humanitarianicons-Tunnel:before {
  content: "\ea26"; }

.humanitarianicons-UN-compound-office:before {
  content: "\ea27"; }

.humanitarianicons-UN-vehicle:before {
  content: "\ea28"; }

.humanitarianicons-University:before {
  content: "\ea29"; }

.humanitarianicons-Up:before {
  content: "\ea2a"; }

.humanitarianicons-Upload:before {
  content: "\ea2b"; }

.humanitarianicons-Urban:before {
  content: "\ea2c"; }

.humanitarianicons-Urban-rural:before {
  content: "\ea2d"; }

.humanitarianicons-User:before {
  content: "\ea2e"; }

.humanitarianicons-Users:before {
  content: "\ea2f"; }

.humanitarianicons-Vaccine:before {
  content: "\ea30"; }

.humanitarianicons-Video:before {
  content: "\ea31"; }

.humanitarianicons-Violent-wind:before {
  content: "\ea32"; }

.humanitarianicons-Volcano:before {
  content: "\ea33"; }

.humanitarianicons-Walkie-talkie:before {
  content: "\ea34"; }

.humanitarianicons-Warning-Error:before {
  content: "\ea35"; }

.humanitarianicons-Water-Sanitation-and-Hygiene:before {
  content: "\ea36"; }

.humanitarianicons-Water-source:before {
  content: "\ea37"; }

.humanitarianicons-Water-trucking:before {
  content: "\ea38"; }

.humanitarianicons-ZIP-compressed:before {
  content: "\ea39"; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 900px; }
  .grid-container.center--vertical {
    align-items: center; }

.col-3 {
  grid-column: span 3; }

.col-4 {
  grid-column: span 4; }

.col-5 {
  grid-column: span 5; }

.col-6 {
  grid-column: span 6; }

.col-7 {
  grid-column: span 7; }

.col-8 {
  grid-column: 3 / span 8; }

.col-12 {
  grid-column: span 12; }

@media only screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0; }
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-12 {
    grid-column: 1 / -1; } }

.loader,
.modal-loader {
  color: #000;
  font-size: 11px;
  margin-left: 208px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; }

.modal-loader {
  top: 55%; }

.sp {
  clear: both;
  height: 32px;
  margin: 0 auto 5px;
  width: 32px; }

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear; }

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@keyframes spCircRot {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@media only screen and (max-width: 1535px) {
  .loader,
  .modal-loader {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px; } }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

body {
  background-color: #FFF;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0; }

main {
  transition: 0.5s all ease; }

h1, .h1 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  padding: 5px 5px 10px 20px; }

h2 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0; }
  h2 a {
    text-decoration: none; }

h3 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
  margin: 0; }

h4 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 16px;
  margin: 0; }
  h4.subtitle {
    letter-spacing: 0;
    margin: 10px 0 0 18px; }

h5 {
  background-color: #EDF6FD;
  border-bottom: 1px solid #CCC;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 50px;
  margin: 20px 0;
  padding: 0 20px; }

h6 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

label.label-small {
  background-color: #F2645A;
  color: #FFF;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 9px;
  letter-spacing: 0.01em;
  line-height: 16px;
  margin-right: 5px;
  padding: 3px 5px;
  margin-bottom: 3px; }

.small {
  color: #888;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin: 0; }
  .small.source {
    margin-left: 19px;
    margin-top: 2px; }

.subtext {
  color: #888;
  text-transform: capitalize; }

.table-display {
  margin: 5px 0 0; }
  .table-display .table-row {
    align-items: center;
    display: flex;
    justify-content: space-between; }
    .table-display .table-row > div:first-child {
      padding-right: 20px; }
    .table-display .table-row.row-separator {
      border-bottom: 1px solid #CCC;
      padding-bottom: 8px; }
      .table-display .table-row.row-separator:first-child {
        border-top: 1px solid #CCC; }
  .table-display.layer-orgs .table-row > div:first-child {
    min-width: 220px; }
  .table-display.layer-orgs .table-row.row-separator {
    border-top: 0;
    color: #000;
    margin-bottom: 6px; }
  .table-display.layer-orgs .table-row.breakdown {
    color: #888; }
  .table-display.layer-orgs .table-row i {
    color: #418FDE;
    display: inline-block;
    text-align: center;
    width: 22px; }

.stat {
  font-family: 'Gotham-Light', sans-serif;
  font-size: 29px;
  line-height: 35px;
  margin: 20px 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.horizontal {
    display: flex; }

a,
a:visited {
  color: #007CE1; }

.footnote {
  color: #888;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  font-style: italic;
  line-height: 12px;
  margin: 0;
  padding-bottom: 10px; }
  .footnote.gender-data {
    margin-top: 10px; }

.source + .footnote {
  padding-top: 10px; }

.content {
  display: flex;
  flex-flow: row; }
  .content .content-left {
    background-color: #FFF;
    box-shadow: 2px 2px 4px rgba(208, 208, 208, 0.5);
    display: none;
    flex-flow: column;
    overflow: auto;
    padding: 20px 0 10px;
    min-width: 255px;
    width: 255px;
    z-index: 2; }
  .content .content-right {
    background-color: #99DAEA;
    height: 100%;
    position: relative;
    z-index: 1; }
  .content.country-view .map-legend.country {
    left: auto;
    right: 24px;
    opacity: 1;
    z-index: 3; }
  .content.country-view .country-panel {
    left: 0;
    transition: left 0.4s ease-out; }
  .content.country-view .country-select {
    top: 30px; }

.org-logo {
  display: flex;
  padding-left: 15px; }
  .org-logo a:first-child {
    margin-right: 20px; }

.logos {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-top: auto;
  padding: 20px 0; }
  .logos img {
    margin-top: 12px; }
  .logos .footnote {
    padding: 10px 20px; }

.label-header {
  display: block;
  margin: 0;
  padding-bottom: 0; }

#global-map {
  height: 100%;
  width: 100%;
  opacity: 0; }

#static-map {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.map-legend {
  background-color: #FFF;
  color: #000;
  fill: #000;
  right: 24px;
  opacity: 0;
  padding: 15px 20px 5px;
  position: absolute;
  bottom: 30px;
  width: 215px;
  z-index: 3; }
  .map-legend label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    fill: #000;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 12px;
    line-height: 14px; }
  .map-legend input {
    margin: 0 6px 0 0; }
  .map-legend svg {
    width: 190px; }
    .map-legend svg.border-crossing-key, .map-legend svg.refugee-count-key, .map-legend svg.hostilities-key {
      margin-top: 0; }
  .map-legend .toggle-icon:before {
    color: #000;
    content: '\e94b';
    cursor: pointer;
    font-family: 'Humanitarian-Icons-v02';
    position: absolute;
    right: 10px;
    top: 9px; }
  .map-legend .toggle-icon:hover:before {
    color: #007CE1; }
  .map-legend .indicator-title {
    padding-right: 4px; }
  .map-legend .collapsed-title {
    cursor: pointer;
    display: none; }
  .map-legend .no-data-key {
    height: 20px; }
    .map-legend .no-data-key rect {
      fill: #FFF;
      stroke: #CCC; }
    .map-legend .no-data-key text {
      transform: translate(25px, 12.5px); }
  .map-legend.country {
    height: auto;
    left: -215px;
    opacity: 0;
    padding-bottom: 5px;
    z-index: -1; }
    .map-legend.country hr {
      border: 1px solid #E0E0E0;
      border-bottom: 0;
      margin: 20px 0; }
    .map-legend.country label {
      margin-top: 10px; }
    .map-legend.country .legend-title {
      display: block;
      margin-top: 10px; }
    .map-legend.country .legend-scale {
      display: block; }
    .map-legend.country .legend-container {
      height: 92px;
      overflow: visible;
      transform: translate(0px, 5px); }
      .map-legend.country .legend-container.no-data {
        height: 20px; }
        .map-legend.country .legend-container.no-data .legendCells {
          display: none; }
    .map-legend.country .legend-marker {
      display: flex;
      padding-top: 8px; }
      .map-legend.country .legend-marker .marker {
        margin-right: 6px;
        margin-top: 0; }
        .map-legend.country .legend-marker .marker img {
          height: 14px;
          width: 14px; }
      .map-legend.country .legend-marker .source {
        margin-left: 0; }
      .map-legend.country .legend-marker label {
        flex-direction: column;
        margin-top: 0; }
    .map-legend.country .footnote {
      margin-top: 15px; }
    .map-legend.country.population .legend-container {
      height: 130px; }
    .map-legend.country.population .legend-marker.hostilities,
    .map-legend.country.population .legend-marker.border-crossing {
      display: flex; }
    .map-legend.country.population .source-container.border-crossing {
      display: block; }
    .map-legend.country .legendCells {
      display: block; }
    .map-legend.country .legendCells-events .legendCells {
      display: none; }
    .map-legend.country.acled .legend-container {
      height: 78px; }
    .map-legend.country.acled .legend-marker.hostilities,
    .map-legend.country.acled .legend-marker.border-crossing,
    .map-legend.country.acled .source-container.border-crossing {
      display: none; }
    .map-legend.country.acled .legendCells {
      display: none; }
    .map-legend.country.acled .legendCells-events .legendCells {
      display: block; }
    .map-legend.country.idps .legend-container {
      height: 93px; }
  .map-legend.collapsed {
    height: 35px !important;
    overflow-y: hidden;
    padding-top: 12px; }
    .map-legend.collapsed .collapsed-title {
      display: block; }
    .map-legend.collapsed .indicator-title {
      opacity: 0; }
    .map-legend.collapsed .toggle-icon:before {
      content: '\ea2a'; }

.legend-gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  bottom: 30px;
  height: 25px;
  pointer-events: none;
  position: fixed;
  right: 24px;
  width: 215px;
  z-index: 3; }
  .legend-gradient.collapsed {
    display: none; }

.country-label,
.adm1-label,
.health-label {
  fill: #000;
  font-size: 13px;
  pointer-events: none;
  text-anchor: middle;
  width: 100px; }

.country-label {
  display: block; }

.label-num {
  fill: #000; }

.mapboxgl-popup.map-tooltip {
  max-width: 330px !important;
  z-index: 4; }
  .mapboxgl-popup.map-tooltip .mapboxgl-popup-content {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 15px; }
    .mapboxgl-popup.map-tooltip .mapboxgl-popup-content h2 {
      margin-bottom: 10px; }
      .mapboxgl-popup.map-tooltip .mapboxgl-popup-content h2 i {
        font-size: 12px;
        vertical-align: 1px; }
    .mapboxgl-popup.map-tooltip .mapboxgl-popup-content .stat {
      font-size: 32px;
      margin: 5px 0; }
      .mapboxgl-popup.map-tooltip .mapboxgl-popup-content .stat > svg {
        bottom: 8px;
        left: 125px;
        position: absolute; }
    .mapboxgl-popup.map-tooltip .mapboxgl-popup-content .stat + span {
      color: #888;
      display: block;
      margin-top: -10px;
      margin-bottom: 10px; }
      .mapboxgl-popup.map-tooltip .mapboxgl-popup-content .stat + span.inline {
        display: inline-block; }
    .mapboxgl-popup.map-tooltip .mapboxgl-popup-content ul {
      color: #888;
      list-style-type: disc;
      margin-bottom: 10px; }
      .mapboxgl-popup.map-tooltip .mapboxgl-popup-content ul li {
        margin-left: 30px; }

.mapboxgl-ctrl-top-right {
  top: 16px;
  right: 16px; }

.mapboxgl-ctrl-bottom-left {
  left: 420px; }

.country-panel {
  background-color: #FFF;
  bottom: 0;
  overflow: hidden;
  padding: 20px 30px 30px;
  position: absolute;
  top: 0;
  left: -416px;
  width: 416px;
  z-index: 3;
  transition: left 0.3s ease-in; }
  .country-panel .org-logo,
  .country-panel h1 {
    padding-left: 0; }
  .country-panel h2 {
    margin-top: 25px; }
  .country-panel .panel-header {
    background-color: #FFF;
    padding: 30px 0 0; }
    .country-panel .panel-header .panel-title {
      align-items: center;
      display: flex;
      margin-bottom: 20px; }
    .country-panel .panel-header .flag {
      height: 35px;
      margin-right: 10px;
      width: 35px; }
    .country-panel .panel-header .download-link {
      padding: 0; }
    .country-panel .panel-header h4 {
      padding: 0 0 6px;
      text-transform: uppercase; }
  .country-panel .panel-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; }
  .country-panel .source {
    margin-left: 0;
    min-height: 28px; }
  .country-panel .panel-inner {
    padding-left: 20px; }
  .country-panel .figure {
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 10px;
    vertical-align: top;
    width: 50%; }
    .country-panel .figure .figure-inner {
      border-bottom: 1px solid #CCC;
      padding-bottom: 15px; }
      .country-panel .figure .figure-inner .title {
        height: 36px; }

.refugees-timeseries {
  display: none; }
  .refugees-timeseries .source {
    padding-left: 20px; }

.c3-title,
.chart-title {
  fill: #000;
  font-family: 'Gotham-Book', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 0; }

.c3-title {
  font-family: 'Gotham-Bold', sans-serif; }

.c3-legend-background {
  stroke: none; }

.c3-text {
  fill: #000 !important;
  font-family: 'Source Sans Pro', sans-serif; }

.c3-axis .tick text {
  fill: #000; }

.c3-tooltip {
  font-family: 'Source Sans Pro', sans-serif; }
  .c3-tooltip th {
    font-weight: normal;
    padding-left: 6px; }
  .c3-tooltip td > span {
    display: none; }

.sparkline {
  fill: none;
  margin-left: 10px;
  stroke: #007CE1;
  stroke-width: 1px; }

.country-timeseries-chart .c3-target.c3-focused .c3-lines .c3-line {
  stroke: #007CE1 !important; }

.country-timeseries-chart .c3-grid line {
  stroke: #F2F2F3;
  stroke-dasharray: 0; }

.country-timeseries-chart .c3-axis .tick line,
.country-timeseries-chart .c3-axis-y path.domain {
  display: none; }

.country-timeseries-chart .c3-axis-x path.domain {
  stroke: #888; }

.country-timeseries-chart .c3-axis text {
  fill: #888; }

.mobile-message {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5; }
  .mobile-message .message {
    color: #FFF;
    padding: 20px;
    text-align: center; }
  .mobile-message .mobile-close-btn {
    color: #FFF;
    position: absolute;
    right: 10px;
    top: 10px; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; }
  h5 {
    font-size: 14px;
    line-height: 45px;
    margin: 15px 0;
    padding: 0 20px; }
  .mapboxgl-ctrl-top-right {
    top: 0;
    right: 0; }
  .content {
    width: 100% !important; }
  #global-map {
    height: 50%;
    position: absolute;
    top: 50%; }
  .content.country-view .map-legend.country {
    max-height: 39% !important;
    bottom: 10px;
    right: 10px; }
  .content.country-view .legend-gradient {
    bottom: 10px;
    right: 10px; }
  .small {
    font-size: 10px;
    line-height: 14px; }
  .country-panel {
    box-shadow: 0px 15px 15px -16px #999;
    height: 50%;
    overflow-y: scroll;
    padding: 10px 0 0;
    width: 100%; }
    .country-panel .org-logo {
      justify-content: flex-end; }
      .country-panel .org-logo img {
        width: 75px; }
    .country-panel .panel-header {
      padding: 10px 20px 0; }
      .country-panel .panel-header .panel-title {
        margin-bottom: 0; }
    .country-panel .figure {
      width: 33%; }
      .country-panel .figure .figure-inner .title {
        font-size: 12px;
        line-height: 14px; }
        .country-panel .figure .figure-inner .title .small {
          font-size: 11px;
          line-height: 15px; }
  .stat {
    font-size: 24px;
    margin: 20px 0 5px; }
  .sparkline {
    margin-left: 6px; } }

@media only screen and (max-height: 850px) {
  .map-legend {
    max-height: 570px;
    overflow-x: hidden;
    overflow-y: auto; } }

@media only screen and (max-height: 696px) {
  .map-legend {
    max-height: 440px;
    overflow-x: hidden;
    overflow-y: auto; } }
