.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 900px;
  &.center--vertical {
		align-items: center;
  }
}

.col-3 {
	grid-column: span 3;
}

.col-4 {
	grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: 3 / span 8;
}

.col-12 {
  grid-column: span 12;
}


@media only screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0;
  }

  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-12 {
    grid-column: 1 / -1;
  }
}