.loader {
	color: #000;
	font-size: 11px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sp {
	clear: both;
	height: 32px;
	margin: 0 auto 5px;
	width: 32px;
}

/* Spinner Circle Rotation */
.sp-circle {
	border: 4px rgba(0,0,0,0.25) solid;
	border-top: 4px rgba(0,0,0,1) solid;
	border-radius: 50%;
	-webkit-animation: spCircRot .6s infinite linear;
	animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}