@import '_fonts';
@import '_grid';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

body {
  background-color: #FFF;
  color: #000;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 18px;
	margin: 0;
	padding: 0;
}

main {
  opacity: 0;
  transition: 0.5s all ease;
}

h1 {
	font-family: 'Gotham Bold', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 15px 20px;
}

h2 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  a {
  	text-decoration: none;
  }
}

h3 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 16px;
  margin: 0 0 10px;
}

h5 {
	background-color: #EDF6FD;
	border-bottom: 1px solid #CCC;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 50px;
  margin: 20px 0;
  padding: 0 20px;
}

h6 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.small {
	color: #888;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}

.stat {
  font-family: 'Gotham-Light', sans-serif;
  font-size: 52px;
  margin: 30px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	&.horizontal {
		display: flex;
	}
}

a,
a:visited {
	color: #007CE1;
}

.content {
	display: flex;
	flex-flow: row;
	.content-left {
		display: flex;
		flex-flow: column;
		overflow: scroll;
		padding: 12px;
		width: 270px;
	}
	.content-right {
		position: relative;
	}
	&.country-view {
		.description,
		.country-label,
		.map-legend.global,
		.menu-indicators,
		.global-stats {
			display: none;
		}
		.map-legend.country {
			left: 40px;
			opacity: 1;
			z-index: 1;
		}
		.country-panel {
			display: block;
		}
		#country-map {
			opacity: 1;
		}
	}
}

.logos {
  align-items: center;
  display: flex;
  flex-flow: column;
	margin-top: auto;
	padding-bottom: 15px;
	img {
		margin-top: 12px;
	}
}

.menu {
	h2 {
		padding-left: 20px;
  	padding-bottom: 15px;
	}
}

.menu-indicators {
	display: block;
	li {
		align-items: center;
		color: #888;
		cursor: pointer;
		display: flex;
		font-size: 16px;
		height: 60px;
		padding: 0 25px;
		i {
			padding-right: 25px;
		}
		&:hover,
		&.selected {
			background-color: #F1F1F1;
			color: #000;
			font-weight: 700;
			i {
				color: #007CE1;
			}
		}
	}
}

.country-select,
.indicator-select {    
	background-color: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 700;
	height: 48px;
	width: 100%;
}

.country-select {
	left: 40px;
	position: absolute;
	top: 40px;
	width: 195px;
	z-index: 100;
}

.global-stats {
	background-color: #FFF;
	bottom: 16px;
	display: block;
	height: 196px;
	padding: 30px 25px;
	position: absolute;
	right: 24px;
	width: 416px;
	z-index: 101;
	li {
		font-family: 'Gotham Bold', sans-serif;
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 20px;
	}
}

.label-header {
	display: block;
	font-weight: 700;
	margin: 0;
	padding-bottom: 0;
}

#global-map,
#country-map{
	fill: #A6D8E8;
  position: relative;
  .map-regions{
    stroke: #CCC;
    cursor: pointer;
    transition: fill 0.5s ease;
  }
  .zoom-controls {
    position: absolute;
    left: 40px;
    bottom: 20px;
    display: grid;
    grid-gap: 5px;  
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      border-radius: 50% !important;
      background: #FFF;
      color: #000;
      border: none;
      user-select: none;
      cursor: pointer;
      text-align: center;
    }
    button:active {
      background: rgba(255, 255, 255, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
}

.map-legend {
	background-color: #FFF;
	color: #000;
	fill: #000;
	height: 235px;
	left: 40px;
	padding: 10px 20px;
	position: absolute;
	top: 120px;
	width: 215px;
	label {    
		display: flex;
  	flex-direction: row-reverse;
  	justify-content: flex-end;
		fill: #000;
		font-family: 'Gotham Bold', sans-serif;
		font-size: 12px;
	}
	input {
		margin: 0 6px 10px 0;
	}
	&.global {
		display: block;
	}
	&.country {
		height: 200px;
		left: -215px;
		opacity: 0;
		z-index: -1;
		svg {
			margin-top: 10px;
			width: 190px;
		}
	}
}

#country-map {
	left: 0;
	fill: transparent;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 0.5s ease;
	.map-regions {
		stroke: #999;
	}
}

.country-label,
.adm1-label {
  fill: #000;
  font-size: 13px;
  pointer-events: none;
  text-anchor: middle;
  width: 100px;
}

.country-label {
	display: block;
}

.count-marker,
circle.swatch {
  fill: #888;
  stroke: #CCC;
}
.count-marker {
	cursor: pointer;
	display: block;
}

.description {
	background-color: rgba(255, 255, 255, 0.8);
	color: #888;
	display: block;
	padding: 10px 20px;
	position: absolute;
	bottom: 16px;
	right: 460px;
}

.tooltip{
  background-color: #FFF;
  border: 0px;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  height: 80px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 0.3s opacity ease;
  width: 200px;
  z-index: 100;
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border: solid transparent;
    border-top-color: #FFF;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }
  .label-header{
    padding-bottom: 5px;
  }
}

.country-panel {
	background-color: #FFF;
	bottom: 30px;
	display: none;
	overflow: scroll;
	padding: 0 30px 30px;
	position: absolute;
	top: 30px;
	right: 30px;
	width: 416px;
	transition: opacity 0.3s ease;
	.panel-header {    
		background-color: #FFF;
		padding: 30px 0 15px;
		position: sticky;
		top: 0;
		width: 356px;
		z-index: 1000;
		.panel-title {
   		align-items: center;
			display: flex;
			margin-bottom: 20px;
		}
		.flag {
			height: 35px;
			margin-right: 10px;
			width: 35px;
		}
	}
	.panel-inner {
		padding-left: 20px;
	}
	.figure {
		display: inline-block;
		margin-bottom: 20px;
		padding-right: 10px;
		vertical-align: top;
		width: 50%;
		.figure-inner {
			border-bottom: 1px solid #CCC;
			.title {
				height: 36px;
			}
		}
		&.risk-class {
			.stat {
				font-size: 32px;
			}
		}
	}
	.humanitarian-access {
		.access-title {
			margin: 20px 0 5px;
		}
		.access-row {
			display: flex;
			flex-flow: row;
			font-size: 14px;
			line-height: 24px;
		}
		.access-icon {
			align-self: flex-start;
			background-color: #888;
			color: #FFF;
			font-size: 14px;
			font-weight: 700;
			height: 16px;
			line-height: 16px;
			margin: 5px 10px 0 0;
			min-width: 36px;
			text-align: center;
			width: 36px;
			&.yes {
				background-color: #F2645A;
			}
		}
	}
	.projections {
		margin-top: 20px;
	}
	.covid {
		h5 {
			margin-top: 0;
		}
	}
}

.timeseries-legend {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #CCC;
  left: 43px;
  max-height: 196px;
  overflow: scroll;
  padding: 5px 10px 0 0;
  position: absolute;
  top: 30px;
  > div {
    cursor: pointer;
  }
  span {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px;
  }
}

.chart-title {
  font-family: 'Gotham-Book', sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	margin-bottom: 0;
}

.c3-legend-background {
  stroke: none;
}


.c3-text {
	fill: #000 !important;
	font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 767px) {

}
