@import '_fonts';
@import '_grid';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

body {
  background-color: #FFF;
  color: #000;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 18px;
	margin: 0;
  overflow: hidden;
	padding: 0;
  &.standalone {
    overflow: auto;
    header {
      margin-top: 0;
    }
  }
}

main {
  height: 670px;
  opacity: 0;
  transition: 0.5s all ease;
}

h1 {
	font-family: 'Gotham-Bold', sans-serif;
  font-weight: normal;
	font-size: 16px;
	margin: 0;
}

h2 {
  border-bottom: 1px solid #CCC;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 15px;
}

h3,
.h3 {
	color: #000;
	font-family: 'Gotham-Bold', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}

h4 {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  margin: 0;
}

ul {
	margin: 0;
	&.horizontal {
		list-style-type: none;
		display: flex;
	}
}

a,
a:visited {
	color: #2D78BD;
	text-decoration: none;
  &:hover {
    color: #00447A;
  }
}

.content {
  display: flex;
  flex-flow: row;
  position: relative;
  .content-left {
  	padding: 12px;
    width: 20%;
  }
  .content-right {
    width: 80%;
  }
}

.panel {
	background-color: #FFF;
  position: relative;
  z-index: 2;
	.panel-inner {
		padding: 10px 20px 20px;
	}
}

#reset {
  background: none;
  border: 1px solid #CCC;
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 2;
}

.stats {
	display: flex;
	.key-figure {
		margin-right: 15px;
		padding-bottom: 20px;
		width: 40%;
		.inner {
			border-bottom: 1px solid #CCC;
      border-top: 1px solid #CCC;
			h3 {
				height: 32px;
			}
		}
		&:last-child {
			margin-right: 0;
      width: 20%;
		}
	}
}

.num {
	color: #000;
	font-family: 'Gotham-Light', sans-serif;
	font-size: 52px;
	line-height: 52px;
	min-height: 81px;
	padding: 10px 0;
	span {
		font-size: 26px;
	}
}

.label-header {
	display: block;
	font-weight: 700;
	margin: 0;
	padding-bottom: 0;
}

.small {
	font-size: 12px;
	line-height: 14px;
	margin: 0;
}

.date {
	color: #888;
	padding-bottom: 20px;
}

.logos {
	margin-left: auto;
	img {
		margin-left: 40px;
		margin-bottom: 0;
		vertical-align: middle;
		width: auto;
	}
}

#map,
#cmap{
	fill: #A6D8E8;
  position: relative;
  .map-regions{
  	fill: #F2F2EF;
    stroke: #CCC;
    cursor: pointer;
  }
  .zoom-controls {
    position: absolute;
    left: 20px;
    top: 125px;
    display: grid;
    grid-gap: 5px;  
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      border-radius: 50% !important;
      background: #FFF;
      color: #000;
      border: none;
      user-select: none;
      cursor: pointer;
      text-align: center;
    }
    button:active {
      background: rgba(255, 255, 255, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
  .map-legend {
  	background-color: #FFF;
  	top: 20px;
  	color: #000;
  	height: 98px;
  	opacity: 0.8;
  	position: absolute;
  	left: 20px;
  	width: 105px;
  	.legend-inner {
  		padding: 10px;
  	}
  	.label {
  		fill: #000;
  		font-size: 12px;
  	}
    h3 {
      font-size: 12px;
    }
  }
}

#cmap {
	position: absolute;
	top: 0;
	left: 0;
	fill: transparent;
}

.country-label{
  fill: #000;
  font-size: 13px;
  pointer-events: none;
  text-anchor: middle;
  width: 100px;
}

.count-marker{
	cursor: pointer;
  fill-opacity: 0.5;
  fill: #F2645A;
  stroke: #F2645A;
  &.selected {
    stroke: #000;
  }
}

.tooltip{
  background-color: #FFF;
  border: 0px;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  height: 80px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 0.3s opacity ease;
  width: 130px;
  z-index: 100;
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border: solid transparent;
    border-top-color: #FFF;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }
  .label-header{
    padding-bottom: 5px;
  }
}

.timeseries-chart {
	margin: 10px 0;
}

.timeseries-legend {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #CCC;
  left: 43px;
  max-height: 196px;
  overflow: scroll;
  padding: 5px 10px 0 0;
  position: absolute;
  top: 30px;
  > div {
    cursor: pointer;
  }
  span {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px;
  }
}

.c3-title {
  font-family: 'Gotham-Bold', sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.c3-legend-background {
  stroke: none;
}

@media only screen and (max-width: 1000px) {
  .num {
    font-size: 42px;
  }
  #reset {
    right: 20px;
    top: 8px;
  }
  .timeseries-chart {
    margin-top: 30px;
  }
  h1 {
    line-height: 18px;
    padding-left: 0;
  }
  header {
    align-items: flex-start;
    flex-flow: column;
    margin-top: 0;
    padding: 10px;
    .date {
      padding: 5px 0 0;
    }
    .link {
      margin-left: 0;
      margin-top: 5px;
    }
  }
}

@media only screen and (max-width: 767px) {
  body {
    overflow: auto;
  }
  .content {
    flex-flow: column;
    .content-left,
    .content-right {
      width: 100%;
    }
  }
  .description {
    color: #000;
    padding-bottom: 0;
    position: relative;
    width: 100%;
  }
  .toggle {
    display: block;
  }
  .panel {
    .panel-inner {
      padding: 10px;
    }
  }
  #reset {
    right: 10px;
    top: 20px;
  }
  #map {
    .map-legend {
      left: 10px;
      top: 10px;
    }
    .zoom-controls {
      left: auto;
      right: 10px;
      top: 10px;
      grid-gap: 0;
      button {
        border-radius: 0 !important;
        width: 30px !important;
        &#zoom_in {
          border-bottom: 1px solid #CCC;
          height: 31px;
        }
      }
    }
  }
  .timeseries-chart {
    margin-top: 10px;
  }
}
