@import '_fonts';
@import '_grid';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

body {
  background-color: #FFF;
  color: #000;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 18px;
	margin: 0;
	padding: 0;
}

main {
  opacity: 0;
  transition: 0.5s all ease;
}

h1 {
	font-family: 'Gotham Bold', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 15px 20px;
}

h2 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.3px;
  margin: 0 0 10px;
}

h5 {
	background-color: #EDF6FD;
	border-bottom: 1px solid #CCC;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 50px;
  padding: 0 22px;
}

h6 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.small {
	color: #888;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}

.stat {
  font-family: 'Gotham-Light', sans-serif;
  font-size: 52px;
  margin: 30px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	&.horizontal {
		display: flex;
	}
}

a,
a:visited {
	color: #007CE1;
}

.content {
	display: flex;
	flex-flow: row;
	.content-left {
		display: flex;
		flex-flow: column;
		overflow: scroll;
		padding: 12px;
		width: 270px;
	}
	.content-right {
		position: relative;
	}
	&.country-view {
		.map-legend.global,
		.menu-indicators,
		.global-stats {
			display: none;
		}
		.map-legend.country {
			display: block !important;
		}
		.country-panel {
			display: block;
			opacity: 0;
		}
	}
}

.logos {
  align-items: center;
  display: flex;
  flex-flow: column;
	margin-top: auto;
	padding-bottom: 15px;
	img {
		margin-top: 12px;
	}
}

.menu {
	h2 {
		padding-left: 20px;
  	padding-bottom: 15px;
	}
}

.menu-indicators {
	display: block;
	li {
		align-items: center;
		color: #888;
		cursor: pointer;
		display: flex;
		font-size: 16px;
		height: 60px;
		padding: 0 25px;
		i {
			padding-right: 25px;
		}
		&:hover,
		&.selected {
			background-color: #F1F1F1;
			color: #000;
			font-weight: 700;
			i {
				color: #007CE1;
			}
		}
	}
}

.country-select {    
	background-color: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 700;
	left: 40px;
	height: 48px;
	position: absolute;
	top: 40px;
	width: 195px;
	z-index: 100;
}

.global-stats {
	background-color: #FFF;
	bottom: 16px;
	display: block;
	height: 196px;
	padding: 30px 25px;
	position: absolute;
	right: 24px;
	width: 416px;
	z-index: 101;
	li {
		font-family: 'Gotham Bold', sans-serif;
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 20px;
	}
}

.label-header {
	display: block;
	font-weight: 700;
	margin: 0;
	padding-bottom: 0;
}

#global-map,
#country-map{
	fill: #A6D8E8;
  position: relative;
  .map-regions{
    stroke: #CCC;
    cursor: pointer;
    transition: fill 0.5s ease;
  }
  .zoom-controls {
    position: absolute;
    right: 40px;
    top: 40px;
    display: grid;
    grid-gap: 5px;  
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      border-radius: 50% !important;
      background: #FFF;
      color: #000;
      border: none;
      user-select: none;
      cursor: pointer;
      text-align: center;
    }
    button:active {
      background: rgba(255, 255, 255, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
  .map-legend {
  	background-color: #FFF;
  	color: #000;
  	fill: #000;
  	height: 135px;
  	left: 40px;
  	padding: 10px 20px;
  	position: absolute;
  	top: 120px;
  	width: 230px;
  	label {    
  		display: flex;
    	flex-direction: row-reverse;
    	justify-content: flex-end;
  		fill: #000;
			font-family: 'Gotham Bold', sans-serif;
  		font-size: 12px;
  	}
  	input {
  		margin: 0 6px 10px 0;
  	}
  	&.global {
			display: block;
  	}
  	&.country {
  		display: none;
  		height: 200px;
  		svg {
  			margin-top: 10px
  		}
  	}
  }
}

#country-map {
	position: absolute;
	top: 0;
	left: 0;
	fill: transparent;
}

.country-label,
.adm1-label {
  fill: #000;
  font-size: 13px;
  pointer-events: none;
  text-anchor: middle;
  width: 100px;
}

.tooltip{
  background-color: #FFF;
  border: 0px;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  height: 80px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 0.3s opacity ease;
  width: 200px;
  z-index: 100;
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border: solid transparent;
    border-top-color: #FFF;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }
  .label-header{
    padding-bottom: 5px;
  }
}

.country-panel {
	background-color: #FFF;
	bottom: 30px;
	display: none;
	opacity: 0;
	overflow: scroll;
	padding: 30px;
	position: absolute;
	top: 30px;
	right: 30px;
	width: 416px;
	transition: opacity 0.3s ease;
	.figure {
		display: inline-block;
		margin-bottom: 20px;
		padding-right: 10px;
		vertical-align: top;
		width: 50%;
		.figure-inner {
			border-bottom: 1px solid #CCC;
			.title {
				height: 36px;
			}
		}
		&.risk-class {
			.stat {
				font-size: 34px;
			}
		}
	}
}

.timeseries-legend {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #CCC;
  left: 43px;
  max-height: 196px;
  overflow: scroll;
  padding: 5px 10px 0 0;
  position: absolute;
  top: 30px;
  > div {
    cursor: pointer;
  }
  span {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px;
  }
}

.c3-title {
  font-family: 'Gotham-Bold', sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.c3-legend-background {
  stroke: none;
}

@media only screen and (max-width: 767px) {

}
