@import '_fonts';
@import '_grid';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

body {
  background-color: #FFF;
  color: #000;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 18px;
	margin: 0;
	padding: 0;
}

main {
  //opacity: 0;
  transition: 0.5s all ease;
}

h1, .h1 {
	font-family: 'Gotham-Bold', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 5px 5px 10px 20px;
}

h2 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  a {
  	text-decoration: none;
  }
}

h3 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 16px;
  margin: 0;
  &.subtitle {
  	letter-spacing: 0;
  	margin: 10px 0 0 18px;
  }
}

h5 {
	background-color: #EDF6FD;
	border-bottom: 1px solid #CCC;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 50px;
  margin: 20px 0;
  padding: 0 20px;
}

h6 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

label {
	&.label-small {
		background-color: #F2645A;
		color: #FFF;
  	font-family: 'Gotham-Bold', sans-serif;
		font-weight: 400;
		font-size: 9px;
		letter-spacing: 0.01em;
		line-height: 16px;
		margin-right: 5px;
		padding: 3px 5px;
		margin-bottom: 3px;
	}
}

.small {
	color: #888;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	line-height: 14px;
	margin: 0;
	&.source {
		margin-top: 2px;
	}
}
.subtext {
	color: #888;
	text-transform: capitalize;
}

.table-display {
	margin: 5px 0 20px;
	.table-row {
		align-items: center;
		display: flex;
		justify-content: space-between;
		>div:first-child {
			padding-right: 20px;
		}
		&.row-separator {
			border-bottom: 1px solid #CCC;
			padding: 8px 0;
			&:first-child {
				border-top: 1px solid #CCC;
			}
		}
	}
}

.stat {
  font-family: 'Gotham-Light', sans-serif;
  font-size: 29px;
  line-height: 35px;
  margin: 20px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	&.horizontal {
		display: flex;
	}
}

a,
a:visited {
	color: #007CE1;
}

.footnote {
	color: #888;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  font-style: italic;
  line-height: 12px;
  margin: 0;
  padding-bottom: 10px;
  &.gender-data {
  	margin-top: 10px;
  }
}
.source + .footnote {
	padding-top: 10px;
}

.content {
	display: flex;
	flex-flow: row;
	.content-left {
		background-color: #FFF;
		box-shadow: 2px 2px 4px rgba(208, 208, 208, 0.5);
		display: none;//flex;
		flex-flow: column;
		overflow: auto;
		padding: 20px 0 10px;
		min-width: 255px;
		width: 255px;
		z-index: 2;
	}
	.content-right {
		background-color: #99DAEA;
		height: 100%;
		position: relative;
		z-index: 1;
	}
	&.country-view {
		.map-legend.country {
			left: auto;
			right: 24px;
			opacity: 1;
			z-index: 3;
		}
		.country-panel {
			left: 0;
			transition: left 0.4s ease-out;
		}
		.country-select {
			top: 30px;
		}
	}
}

.org-logo {
	display: flex;
	padding-left: 15px;
	a:first-child {
		margin-right: 20px;
	}
}

.logos {
  align-items: center;
  display: flex;
  flex-flow: column;
	margin-top: auto;
	padding: 20px 0;
	img {
		margin-top: 12px;
	}
	.footnote {
		padding: 10px 20px;
	}
}

.label-header {
	display: block;
	margin: 0;
	padding-bottom: 0;
}

#global-map {
	height: 100%;
	width: 100%;
	opacity: 0;
}

#static-map {
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.map-legend {
	background-color: #FFF;
	color: #000;
	fill: #000;
	right: 24px;
	opacity: 0;
	padding: 15px 20px 5px;
	position: absolute;
	bottom: 30px;
	width: 215px;
	z-index: 3;
	label {    
		display: flex;
  	flex-direction: row-reverse;
  	justify-content: flex-end;
		fill: #000;
		font-family: 'Gotham Bold', sans-serif;
		font-size: 12px;
		line-height: 14px;
	}
	input {
		margin: 0 6px 0 0;
	}
	svg {
		width: 190px;
		&.border-crossing-key,
		&.refugee-count-key,
		&.hostilities-key {
			margin-top: 0;
		}
	}
	.toggle-icon {
		&:before {
	    color: #000;
			content: '\e94b';
			cursor: pointer;
	    font-family: 'Humanitarian-Icons-v02';
	    position: absolute;
	    right: 10px;
	    top: 9px;
		}
    &:hover {
			&:before {
    		color: #007CE1;
    	}
    }
	}
	.indicator-title {
		padding-right: 4px;
	}
	.collapsed-title {
		cursor: pointer;
		display: none;
	}
	.no-data-key,
	.border-crossing-key,
	.hostilities-key {
		height: 20px;
		rect {
			fill: #FFF;
			stroke: #CCC;
		}
		text {
			transform: translate(25px, 12.5px);
		}
	}
	&.country {
		height: auto;
		left: -215px;
		opacity: 0;
		padding-bottom: 5px;
		z-index: -1;
		hr {
			border: 1px solid #E0E0E0;
			border-bottom: 0;
			margin: 20px 0;
		}
		label {
			margin-top: 10px;
		}
		.legend-title {
			display: block;
			margin-top: 10px;
		}
		.legend-scale {
			display: block;
		}
		.legend-container {
			height: 92px;
			overflow: visible;
			transform: translate(0px, 5px);
			&.no-data {
				height: 20px;
				.legendCells {
					display: none;
				}
			}
		}		
		.source-container {
			display: block;
			margin-left: 19px;
		}
		.legend-marker {
			display: flex;
			padding-top: 8px;
			.marker {
				margin-right: 6px; 
				margin-top: 0;
				img {
					height: 14px;
					width: 14px;
				}
			}
			label {
				flex-direction: column;
				margin-top: 0;
			}
			&.idps {
				display: none;
			}
		}
		.footnote {
			margin-top: 15px;
		}
		&.population {
			.legend-container {
				height: 130px;
			}
			.legend-marker.hostilities,
			.legend-marker.border-crossing {
				display: flex;
			}
			.source-container.border-crossing {
				display: block;
			}
		}		
		.legendCells {
			display: block;
		}
		.legendCells-events .legendCells {
			display: none;
		}
		&.acled {
			.legend-container {
				height: 78px;
			}
			.legend-marker.hostilities,
			.legend-marker.border-crossing,
			.source-container.border-crossing {
				display: none;
			}
			.legendCells {
				display: none;
			}
			.legendCells-events .legendCells {
				display: block;
			}
		}
		&.idps {
			.legend-container {
				height: 93px;
			}
		}
	}
	&.collapsed {
		height: 35px !important;
		overflow-y: hidden;
		padding-top: 12px;
		.collapsed-title {
			display: block;
		}
		.indicator-title {
			opacity: 0;
		}
		.toggle-icon:before {
			content: '\ea2a';
		}
	}
}

.country-label,
.adm1-label,
.health-label {
  fill: #000;
  font-size: 13px;
  pointer-events: none;
  text-anchor: middle;
  width: 100px;
}

.country-label {
	display: block;
}

.label-num  {
	fill: #000;
}

.mapboxgl-popup.map-tooltip {
	max-width: 330px !important;
	z-index: 4;
	.mapboxgl-popup-content {
		border-radius: 8px;
	  box-shadow: 0 0 8px rgba(0,0,0,.3);
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 18px;
		padding: 15px;
		h2 {
			margin-bottom: 10px;
			i {
				font-size: 12px;
				vertical-align: 1px;
			}
		}
		.stat {
			font-size: 32px;
			margin: 5px 0;
			> svg {
				bottom: 8px;
				left: 125px;
				position: absolute;
			}
		}
		.stat + span {
			color: #888;
			display: block;
			margin-top: -10px;
			margin-bottom: 10px;	
			&.inline {
				display: inline-block;
			}
		}
		ul {
			color: #888;
			list-style-type: disc;
			margin-bottom: 10px;
			li { 
			 	margin-left: 30px;
			}
		}
	}
}

.mapboxgl-ctrl-top-right {
  top: 16px;
  right: 16px;
}

.mapboxgl-ctrl-bottom-left {
	left: 420px;
}

.country-panel {
	background-color: #FFF;
	bottom: 0;
	overflow: hidden;
	padding: 20px 30px 30px;
	position: absolute;
	top: 0;
	left: -416px;
	width: 416px;
	z-index: 3;
	transition: left 0.3s ease-in;
	.org-logo,
	h1 {
		padding-left: 0;
	}
	h2 {
		margin-top: 25px;
	}
	.panel-header {    
		background-color: #FFF;
		padding: 30px 0 0;
		.panel-title {
   			align-items: center;
			display: flex;
			margin-bottom: 20px;
		}
		.flag {
			height: 35px;
			margin-right: 10px;
			width: 35px;
		}
		.download-link {
			padding: 0;
		}
		h4 {
			padding: 0 0 6px;
    		text-transform: uppercase;
		}
	}
	.panel-content {
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.source {
		min-height: 28px;
	}
	.panel-inner {
		padding-left: 20px;
	}
	.figure {
		display: inline-block;
		margin-bottom: 20px;
		padding-right: 10px;
		vertical-align: top;
		width: 50%;
		.figure-inner {
			border-bottom: 1px solid #CCC;
			padding-bottom: 15px;
			.title {
				height: 36px;
			}
		}
	}
}

.refugees-timeseries {
	display: none;
	.source {
		padding-left: 20px;
	}
}

.c3-title,
.chart-title {
	fill: #000;
  font-family: 'Gotham-Book', sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	margin-bottom: 0;
}

.c3-title {
  font-family: 'Gotham-Bold', sans-serif;
}

.c3-legend-background {
  stroke: none;
}

.c3-text {
	fill: #000 !important;
	font-family: 'Source Sans Pro', sans-serif;
}

.c3-axis {
	.tick text {
		fill: #000;
	}
}

.c3-tooltip {
	font-family: 'Source Sans Pro', sans-serif;
	th {
		font-weight: normal;
		padding-left: 6px;
	}
	td>span {
		display: none;
	}
}

.country-timeseries-chart {
	.c3-target.c3-focused .c3-lines .c3-line {
		stroke: #007CE1 !important;
	}
	.c3-grid line {
	  stroke: #F2F2F3;
	  stroke-dasharray: 0;
	}
	.c3-axis .tick line,
	.c3-axis-y path.domain {
		display: none;
	}
	.c3-axis-x path.domain {
		stroke: #888;
	}
	.c3-axis text {
		fill: #888;
	}
}

.mobile-message {    
  background-color: rgba(0,0,0,0.5);
  display: none;
	position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  .message {
  	color: #FFF;
  	padding: 20px;
  	text-align: center;
  }
  .mobile-close-btn {
  	color: #FFF;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}


//accessibility helper class
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media only screen and (max-width: 767px) {
	.mobile-message {
		display: none !important;
	}
	.content {
		width: 100% !important;
	}
	#global-map {
		height: 50%;
		position: absolute;
    top: 50%;
	}
	.content.country-view {
		.map-legend {
			&.country {
				max-height: 60% !important;
				bottom: 20px;
				right: 20px;
			}
		}
	}
	.small {
		font-size: 10px;
    line-height: 14px;
	}
	.country-panel {
		height: 50%;
    overflow-y: scroll;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
		.figure {
			width: 33%;
			.figure-inner {
				.title {
					font-size: 12px;
					line-height: 16px;
					.small {
						font-size: 11px;
						line-height: 15px;
					}
				}
			}
		}
	}
	.stat {
		font-size: 24px;
		margin: 15px 0;
	}
}

@media only screen and (max-height: 850px) {
	.map-legend {
		max-height: 570px;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

@media only screen and (max-height: 696px) {
	.map-legend {
		max-height: 440px;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
